_CommonTypes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
  <!-- START OF: IntLen -->
  <xs:simpleType name="IntLen9Req">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IntLen9">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{9}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IntLen13Req">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{13}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IntLen20Req">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{20}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IntLen20">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9]{20})|(^$)" />
    </xs:restriction>
  </xs:simpleType>
  <!-- END OF: IntLen -->

  <!-- START OF: varchar -->
  <xs:simpleType name="varchar1">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar3">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar12">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar20">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
	<xs:simpleType name="varchar27">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="27" />
		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="varchar40">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar50">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar64">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="64" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar100">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar152">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="152" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar250">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="250" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar255">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar256">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="256" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar512">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="512" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar1024">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="1024" />
    </xs:restriction>
  </xs:simpleType>
  <!-- END OF: varchar -->
	
  <xs:simpleType name="CheckBoxType">
    <xs:annotation>
      <xs:documentation>
        CheckBox: значение истина/ложь
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration id="notChecked" value="">
        <xs:annotation>
          <xs:documentation>
            Не выбрано
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration id="checked" value="on">
        <xs:annotation>
          <xs:documentation>
            Выбрано
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DropDownYesNoWithNullType">
    <xs:annotation>
      <xs:documentation>CheckBoxWithNull</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="1">
        <xs:annotation>
          <xs:documentation>Да</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>Нет</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="NullableInteger">
    <xs:annotation>
      <xs:documentation>
        Соответствует числу, либо пустому полю.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(\d*)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NullableDecimal">
    <xs:annotation>
      <xs:documentation>
        Соответствует дробному числу, либо пустому полю.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(\d+.?\d*)|(^$)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NullableMoney">
    <xs:annotation>
      <xs:documentation>
        Соответствует денежному типу с двумя знаками после запятой, либо пустому полю.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(\d+.?\d{0,2})|(^$)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Money">
    <xs:annotation>
      <xs:documentation>
        Соответствует денежному типу с двумя знаками после запятой, либо пустому полю.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:pattern value="(\d+.?\d{0,2})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TimeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(\d{2}:\d{2})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RuDateType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(\d{2}.\d{2}.\d{4})"/>
    </xs:restriction>
  </xs:simpleType>
	<xs:simpleType name="NullableRuDateType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{2}.\d{2}.\d{4})|(^$)"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="RuDateTimeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(\d{2}.\d{2}.\d{4} \d{2}:\d{2})(:\d{2}|$)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BoolType">
    <xs:annotation>
      <xs:documentation>
        Значение: True/False
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="True" />
      <xs:enumeration value="true" />
      <xs:enumeration value="False" />
      <xs:enumeration value="false" />
    </xs:restriction>
  </xs:simpleType>

	<xs:simpleType name="NotEmptryString">
		<xs:annotation>
			<xs:documentation>
				Проверка: не является ли поле пустым.
				Если поле содержит хотя бы один любой символ - результат проверки будет положительный.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(.)" />
		</xs:restriction>
	</xs:simpleType>

  <xs:simpleType name="GUID">
    <xs:annotation>
      <xs:documentation>
        Guid
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NullableGUID">
    <xs:annotation>
      <xs:documentation>
        Guid
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12})|(^$)" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="INN">
    <xs:annotation>
      <xs:documentation>
        ИНН
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9]{10})|([0-9]{12})" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="OGRN">
    <xs:annotation>
      <xs:documentation>
        ОГРН
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{13}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="KPP">
    <xs:annotation>
      <xs:documentation>
        КПП
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{9}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FaceAccount">
    <xs:annotation>
      <xs:documentation>
        Лицевой счет может состоять только из цифр и букв
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([а-яА-Яa-zA-Z0-9]{20})|(^$)" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="emailType">
    <xs:annotation>
      <xs:documentation>
        Эл. адрес
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(^[\w\.=-]+@[\w\.-]+\.[\w]{2,3};?$)" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EMail">
    <xs:annotation>
      <xs:documentation>
        Эл. адрес
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(^[\w\.=-]+@[\w\.-]+\.[\w]{2,3};?$)" />
    </xs:restriction>
  </xs:simpleType>  
  
  <xs:simpleType name="oneOrMoreEmailType">
    <xs:annotation>
      <xs:documentation>
        Один или несколько эл. адресов
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="^([\w\.=-]+@[\w\.-]+\.[\w]{2,3})(;[\w\.=-]+@[\w\.-]+\.[\w]{2,3})*$" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="optionalEmailType">
    <xs:annotation>
      <xs:documentation>
        Эл. адрес
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(^[\w\.=-]+@[\w\.-]+\.[\w]{2,3}$)|()" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="optionalEmail">
    <xs:annotation>
      <xs:documentation>
        Эл. адрес
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(^[\w\.=-]+@[\w\.-]+\.[\w]{2,3}$)|()" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>